<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.hobbyix.hobbyix" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDark" >
        <activity
            android:name=".MainActivity"
            android:label="HOBBYIX" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FitnessClasses"
            android:label="HOBBYIX" >
        </activity>
        <activity
            android:name=".PaymentMethod"
            android:label="@string/title_activity_payment_method" >
        </activity>
        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter" >
        </activity>
    </application>

</manifest>
